/* import font */

@font-face {
  font-family: 'DSEG7Classic';
  src:  url('fonts/DSEG7Classic-Bold.woff2') format('woff2'),
        url('fonts/DSEG7Classic-Bold.woff') format('woff');
}

/* generic settings */

body {
  background-color: black;
  color: white;
  overflow: hidden;
}

/* Container for all content */

.main {
	box-sizing: border-box;
	overflow:hidden;
	height: 97vmin;
	padding: 10px;
	margin: 10px;
}

/* menu */

.menudiv {
	position:absolute;
	top: 12px;
	left: 20px;
	padding: 20px;
	box-sizing: border-box;
	font-size: 15px;
}

.menu ul {
	text-align: left;
	display: inline;
	margin: 0;
	padding: 0;
	list-style: none;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.menu ul li {
	font: bold 12px/18px sans-serif;
	display: inline-block;
	margin-right: -4px;
	position: relative;
	padding: 15px 20px;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.menu ul li:hover {
	background: #555;
	color: #fff;
}

.menu ul li ul {
	padding: 0;
	position: absolute;
	top: 48px;
	left: 0;
	width: 150px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	display: none;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s;
	-webkit-transiton: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-transition: opacity 0.2s;
}
.menu ul li ul li { 
	background: #585858; 
	display: block; 
	text-shadow: 0 -1px 0 #000;
}

.menu ul li ul li:hover { 
	background: #666; 

}
.menu ul li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}

.menu a {
	color: white;
	text-decoration: none;
}

/* content for one player */

.player {
	float: left;
	box-sizing: border-box;
	width: 50%;
	height: 100%;
	text-align: center;
	padding: 20px;
	box-shadow: 
		10px 0 0 0 #888, 
		0 10px 0 0 #888, 
		10px 10px 0 0 #888,   /* Just to fix the corner */
		10px 0 0 0 #888 inset, 
		0 10px 0 0 #888 inset;
}

h1 {
	font-size: 12vmin;
	margin-bottom: 0px;
	font-family: Arial;
	text-transform: uppercase;
}

h2 {
	font-size: 45vmin;
	font-family: DSEG7Classic;
	margin: 0px;
	white-space: nowrap;
}

/* classes to create 7-segment font in a nice way */

.scorecontainer {
	position: relative;
	margin-top: 6vmin;
	z-index: -5;
}

.score {
	z-index: 100;
	position: absolute;
	width: 100%; 
}

.segments {
	z-index: 50;
	position: absolute;
	top: 0px;
	color: rgba(100%,100%,100%, 0.05);
	width: 100%; 
}

/* full size div */

.content {
	float: left;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 20px;
	box-shadow: 
		10px 0 0 0 #888, 
		0 10px 0 0 #888, 
		10px 10px 0 0 #888,   /* Just to fix the corner */
		10px 0 0 0 #888 inset, 
		0 10px 0 0 #888 inset;
}

/* Player Selection */

.selectplayer {
	width: 85vmin;
	margin-top: 7vmin;
	font-size: 15vmin;
	background: black;
	color: white;
	border: dotted;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	text-align: center;
}

.selectoptions {
	font-size: 5vmin;
}

.saveplayerdiv {
	position: absolute;
	top: 75vmin;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	height: 25vmin;
	z-index: 100;
	background: black;
}

.saveplayer {
	margin-top: 7vmin;
	font-size: 7vmin;
	font-family: Arial;
	border: none;
	background: black;
	color: white;
}

.saveplayer:hover {
	color: green;
}

/* highscore table */

.highscore {
	margin: 4vh auto;
	text-align: left;
	font-family: Arial;
}

.highscore td {
	font-size: 30px;
}

.highscore thead {
	font-size: 30px;
	text-decoration: underline;
}

.tableplayer {
	width: 200px;
}

.tablescore {
	text-align: center;
}
